<div class="iniciar">
    <h1>Dejanos tu comentario</h1>
    <br>
<div>
    <form action="/admin/comentarios/agregar" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Comentario</label>
            <textarea placeholder="Escribe tu comentario" class="form-control" name="comentario"></textarea>
        </div>
        <div class="btn-iniciar">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="submit" class="btn btn-primary"><a href="/admin/comentarios">Regresar</a></button>
        </div>
    </form>
    {{#if error}}
        <p>{{message}}</p>
    {{/if}}
    </div>
</div>