<div>
    <h1>¡Hola {{usuario}}!</h1>
    <p>Déjanos tu comentario</p>
</div>
<div>
    <form action="/admin/comentarios/agregar" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Comentario</label>
            <textarea placeholder="Escribe tu comentario" class="form-control" name="content"></textarea>
        </div>
        <div class="btn-iniciar">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
    {{#if error}}
        <p>{{message}}</p>
    {{/if}}
</div>