<div class="form-citas">
    <h4>Pide tu cita aquí:</h4>
    <div>               
        <form action="/admin/servicios/citas" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">E-mail</label>
                <input type="text" class="form-control" name="correo">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Teléfono</label>
                <input type="text" class="form-control" name="celular">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Mensaje</label>
                <textarea placeholder="Detalla tu consulta" class="form-control" name="contenido"></textarea>
            </div>
            <div class="btn-iniciar">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-primary"><a href="/admin/servicios">Regresar</a></button>
            </div>
        </form>
    </div>
</div>