<div>
    <h1>¡Hola {{persona}}!</h1>
    <p>Crea tu comentario</p>
    <input type="text">
    <button class="btn">Enviar</button>
    <button href="/admin/login/logout">Cerrar Sesión</button>
</div>