    <div>
        <h6>Novedades</h6>
    {{#each novedades}}
        <div class="contenedor-novedades">
            <div class="novedades">
                <h6>{{titulo}}</h6>
                <p>{{contenido}}</p>
            </div>
        </div>
    {{/each}}
    </div>