<div class="listado">
    <h3>Nuestros servicios</h3>
    <p>Recuerda agendar una cita a través de nuestra página</p>
</div>
<div class="grilla-servicios">
    {{#each novedades}}
    <div class="grilla-item-servicios">
        <h5>{{titulo}}</h5>
        {{!-- <img src="./img/GROOMING.png" alt="peluquería"> --}}
        <p>{{contenido}}</p>
    </div>
    {{/each}}
        <button onclick="elegirServicio('Peluquería Canina')">Pedir cita</button>
</div>