<div class="servicios">
    <h3>Nuestros servicios</h3>
    <p>Recuerda agendar una cita a través de nuestra página</p>
</div>
<div class="contenedor-servicios">
        {{#each servicios}}
    <div class="grilla-servicios">
        <div>
            <h5>{{titulo}}</h5>
            {{!-- <img src="./img/GROOMING.png" alt="peluquería"> --}}
            <p>{{contenido}}</p>
            <div>
                <a href="/admin/servicios/citas"><button class="btn" onclick="elegirServicio({{id}})">Pedir cita</button></a>
            </div>
        </div>
    </div>
        {{/each}}

</div>