        <!-- CUERPO -->
        <div class="fondo-foto">
            <div class="titulo">
                <h1>PET CARE</h1>
                <h6>Atención especial para tus mascotas</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laborum porro dolorum excepturi sequi quam quia omnis, alias quas aliquam autem dolor modi laudantium eaque natus recusandae id inventore ab.</p>
            </div>
        </div>
        <!-- CARDS -->
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <div>
                    <h5 class="card-title">Información:</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam non blanditiis id assumenda impedit cumque, nam beatae, labore commodi excepturi ad voluptatibus fugiat facere consectetur. Nostrum accusantium illo corporis explicabo.</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
            <div class="sizecard">                
                <img src="/images/SALUD.png" alt="salud">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CUIDADOS.png" alt="cuidados">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CHAT.png" alt="chat">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
        </div>
        <!-- FIN CARDS -->
        
            <div class="contenedor-body">
                <!-- HORARIOS -->
                <div>
                    <h5>Turnos Disponibles:</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Horario</th>
                            <th scope="col">Lunes</th>
                            <th scope="col">Martes</th>
                            <th scope="col">Miércoles</th>
                            <th scope="col">Jueves</th>
                            <th scope="col">Viernes</th>
                            <th scope="col">Sábado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">9:00 - 12:30</th>
                            <td>X</td>
                            <td>30</td>
                            <td>X</td>
                            <td>13</td>
                            <td>26</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th scope="row">14:00 - 17:30</th>
                            <td>18</td>
                            <td>5</td>
                            <td>X</td>
                            <td>6</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th scope="row">Medianoche</th>
                            <td>4</td>
                            <td>X</td>
                            <td>6</td>
                            <td>2</td>
                            <td>5</td>
                            <td>X</td>
                        </tr>
                        </tbody>
                    </table>
                <!-- FIN HORARIOS -->
                </div>

                <!-- NOVEDADES -->
                <div class="contenedor-novedades">
                    <div class="novedades">
                        <h4>Novedades</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quidem quasi corrupti velit officia eos quis, inventore ratione itaque voluptates ducimus laudantium voluptatibus sunt in! Nobis ipsa omnis harum ipsam.</p>
                    </div>
                    <div class="novedades">
                        <h4>Novedades</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quidem quasi corrupti velit officia eos quis, inventore ratione itaque voluptates ducimus laudantium voluptatibus sunt in! Nobis ipsa omnis harum ipsam.</p>
                    </div>
                    <div class="novedades">
                        <h4>Novedades</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quidem quasi corrupti velit officia eos quis, inventore ratione itaque voluptates ducimus laudantium voluptatibus sunt in! Nobis ipsa omnis harum ipsam.</p>
                    </div>
                </div>
                <!-- FIN NOVEDADES -->
            </div>
        <!-- FIN CUERPO -->
