        <!-- CUERPO -->
        <div class="fondo-foto">
            <div class="titulo">
                <h1>¡Bienvenido a tu veterinaria favorita!</h1>
                <p>Este es un espacio dedicado al bienestar de las mascotas, donde se combinan la pasión por los animales y la profesionalidad. Ofrecen servicios como consultas médicas, vacunación, cirugías menores, y asesoramiento nutricional. Además, cuentan con una amplia gama de productos, desde alimentos balanceados hasta accesorios, asegurando que cada cliente encuentre todo lo necesario para cuidar a su compañero. Con un equipo de expertos comprometidos, brindan un trato cálido y personalizado que garantiza la salud y felicidad de cada mascota.</p>
            </div>
        </div>
        <!-- CARDS -->
        <div class="cards">
            <div class="card" style="width: 20rem;">
                <div>
                    <h5 class="card-title">Nuestra historia:</h5>
                    <p>Nacimos hace más de 5 años como un pequeño proyecto familiar motivado por el amor a los animales y el deseo de mejorar su calidad de vida. Inició en un local modesto, atendiendo a vecinos y sus mascotas, pero gracias a la dedicación y confianza de la comunidad, creció rápidamente. Hoy en día, es un centro de referencia, equipado con tecnología moderna y un equipo altamente capacitado, que sigue manteniendo los mismos valores de cercanía y cuidado que la vieron nacer.</p>
                </div>
            </div>
            <div class="sizecard">                
                <img src="/images/SALUD.png" alt="salud">
                <div>
                    <p>Nos dedicamos a proporcionar cuidados integrales para garantizar la salud y el bienestar de las mascotas. Desde chequeos médicos y vacunación hasta asesoramiento en nutrición, cada servicio está diseñado para atender las necesidades específicas de cada animal. Nuestro enfoque combina profesionalismo y cariño, creando un entorno seguro y acogedor para que las mascotas se sientan cómodas en todo momento.</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CUIDADOS.png" alt="cuidados">
                <div>
                    <p>Ofrecemos servicios de peluquería canina y gatuna, diseñados para mantener a las mascotas limpias, saludables y con un aspecto impecable, utilizando productos de calidad y técnicas adaptadas a cada especie. Además, contamos con atención para emergencias, disponible para brindar asistencia inmediata en situaciones críticas, asegurando el cuidado y bienestar de las mascotas en momentos inesperados.</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CHAT.png" alt="chat">
                <div>
                    <p>Facilitamos la comunicación con nuestros clientes mediante un sistema de atención a través de WhatsApp. Este método permite agendar citas, realizar consultas rápidas y recibir orientación personalizada de manera práctica y eficiente. Nuestro objetivo es estar siempre al alcance, brindando un servicio ágil y cercano para satisfacer las necesidades de las mascotas y sus dueños.</p>
                </div>
            </div>
        </div>
        <!-- FIN CARDS -->
        <!-- FIN CUERPO -->

                <!-- PRODUCTOS -->
            <section>
                <hr>
                <div class="productos">
                    <h5>Algunos de nuestros productos:</h5>
                    <p>¡Descarga nuestro catálogo aquí!</p>
                </div>
                <div class="grilla-inicio">
                    <div class="grilla-item">
                        <h5>Cama para perro</h5>
                        <img src="/images/CAMA PERRO.jpg" alt="cama-perro">
                        <p>$45.000</p>
                    </div>
                    <div class="grilla-item">
                        <h5>Collar para gato</h5>
                        <img src="/images/COLLAR GATO.jpg" alt="collar-gato">
                        <p>$12.000</p>
                    </div>
                    <div class="grilla-item">
                        <h5>1KG Atún Gatuno</h5>
                        <img src="/images/COMIDA GATO.jpg" alt="comida-gato">
                        <p>$17.000</p>
                    </div>
                    <div class="grilla-item">
                        <h5>500G Sticks Perro</h5>
                        <img src="/images/COMIDA PERRO.jpg" alt="comida-perro">
                        <p>$9.000</p>
                    </div>
                    <div class="grilla-item">
                        <h5>Juguete para perro</h5>
                        <img src="/images/JUGUETE PERRO.jpg" alt="juguete-perro">
                        <p>$5.700</p>
                    </div>
                    <div class="grilla-item">
                        <h5>Rascador para gato</h5>
                        <img src="/images/RASCADOR GATO.jpg" alt="rascador-gato">
                        <p>$10.500</p>
                    </div>
                    <div class="grilla-item">
                        <h5>Plato mascota</h5>
                        <img src="/images/TAZÓN.jpg" alt="plato">
                        <p>$6.000</p>
                    </div>
                    <div class="grilla-item">
                        <h5>Bolsa de transporte gatuna</h5>
                        <img src="/images/BOLSO GATO.jpg" alt="bolsa-gato">
                        <p>$30.000</p>
                    </div>
                </div>
            </section>
            <!-- FIN PRODUCTOS -->
