        <!-- CUERPO -->
        <div class="fondo-foto">
            <div class="titulo">
                <h1>PET CARE</h1>
                <h6>Atención especial para tus mascotas</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laborum porro dolorum excepturi sequi quam quia omnis, alias quas aliquam autem dolor modi laudantium eaque natus recusandae id inventore ab.</p>
            </div>
        </div>
        <!-- CARDS -->
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <div>
                    <h5 class="card-title">Información:</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam non blanditiis id assumenda impedit cumque, nam beatae, labore commodi excepturi ad voluptatibus fugiat facere consectetur. Nostrum accusantium illo corporis explicabo.</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
            <div class="sizecard">                
                <img src="/images/SALUD.png" alt="salud">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CUIDADOS.png" alt="cuidados">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
            <div class="sizecard">
                <img src="/images/CHAT.png" alt="chat">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus molestiae tempora doloremque! Consequuntur reiciendis ipsa atque. Nisi ab, ex ad, vero non dignissimos possimus animi illum natus accusamus sit?</p>
                </div>
            </div>
        </div>
        <!-- FIN CARDS -->
        
            <div class="contenedor-body">
                <!-- HORARIOS -->
                <div>
                    <h5>Turnos Disponibles:</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Horario</th>
                            <th scope="col">Lunes</th>
                            <th scope="col">Martes</th>
                            <th scope="col">Miércoles</th>
                            <th scope="col">Jueves</th>
                            <th scope="col">Viernes</th>
                            <th scope="col">Sábado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">9:00 - 12:30</th>
                            <td>X</td>
                            <td>30</td>
                            <td>X</td>
                            <td>13</td>
                            <td>26</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th scope="row">14:00 - 17:30</th>
                            <td>18</td>
                            <td>5</td>
                            <td>X</td>
                            <td>6</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th scope="row">Medianoche</th>
                            <td>4</td>
                            <td>X</td>
                            <td>6</td>
                            <td>2</td>
                            <td>5</td>
                            <td>X</td>
                        </tr>
                        </tbody>
                    </table>
                <!-- FIN HORARIOS -->
                </div>

                <!-- NOVEDADES -->
                <div>
                    <div class="novedades">
                        <h4>Novedades</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quidem quasi corrupti velit officia eos quis, inventore ratione itaque voluptates ducimus laudantium voluptatibus sunt in! Nobis ipsa omnis harum ipsam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolores itaque recusandae repudiandae explicabo sunt natus rem quis blanditiis mollitia voluptatum voluptatem possimus impedit non, ratione placeat labore. Saepe, voluptatem.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita possimus iure laborum voluptatum, laboriosam deleniti. Eius, voluptatum quas. Minus vero suscipit officiis quaerat aut omnis. Hic modi recusandae nulla omnis!</p>
                    </div>
                </div>
                <!-- FIN NOVEDADES -->
                
                <!-- OPINIONES -->
                <div id="carouselExampleDark" class="carousel carousel-dark slide opiniones">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <div class="caption">
                                <h5>Nuestros Clientes</h5>
                                <p>Calificaciones y opiniones</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="caption">
                                <h5>Ana María</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="caption">
                                <h5>Facundo</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <div class="caption">
                                <h5>Sofía</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="caption">
                                <h5>Lorena</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- FIN OPINIONES -->
            </div>
        <!-- FIN CUERPO -->
