body {
    background-color: #f6feff;
    font-family: "Noto Sans TC", sans-serif;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
}

.dropdown-item:hover {
    background-color: rgba(208, 0, 0, 0.516);
}

.container-fluid {
    display: flex;
    background-color: #f6feff;
    height: 70px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.btn {
    height: 35px;
    background-color: rgb(163, 0, 0);
    border-color: rgb(208, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 14px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: rgb(208, 0, 0);
    border-color: rgb(208, 0, 0);
    color: white;
    transform:scale(0.9)
    
}

.titulo {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    color: white;
}

.titulo h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    margin-top: 60px;
}

.titulo p, h6 {
    font-size: 14px;
    width: 800px;
}

.fondo-foto {
    margin-top: 80px;
    background: url(/images/FONDO.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 300px;
}

.contenedor-interno {
    padding: 10px;
}

.card {
    width: 400px;
    font-size: 13px;
    padding: 15px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 181, 181);
    box-shadow: 5px 2px 2px rgba(241, 241, 241, 0.569);
}

.card h5 {
    color: rgb(163, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
}

.card p {
    margin-left: 10px;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sizecard {
    width: 350px;
    height: 320px;
    font-size: 13px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 2px 2px rgba(241, 241, 241, 0.569);
}

.sizecard img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.contenedor-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.table-comentarios td {
    padding: 5px;
}

.productos p {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.productos h5 {
    color: rgb(163, 0, 0);
    margin-left: 50px;
}

.productos p {
    margin-left: 50px;
}

.grilla-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.grilla-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: rgb(255, 165, 165) 2px solid;
    border-radius: 12px;
    box-shadow: 5px 2px 2px rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
}

.grilla-item img {
    width: 95px;
    height: 95px;
}

.grilla-item h5 {
    font-size: 16px;
    margin-top: 20px;
}

.form-citas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 200px;
}

.form-citas h4 {
    margin-bottom: 40px;
}

.contenedor-servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grilla-servicios {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    width: 350px;
    height: 250px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
}

.grilla-servicios h5 {
    color: rgb(163, 0, 0);
}

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.contenedor-novedades {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.novedades {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 205, 205);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.novedades h4 {
    color: rgb(163, 0, 0);
}

.opiniones {
    width: 420px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 214, 214);
    border-radius: 20px;
    overflow: hidden;
}

.caption {
    margin: 40px;
    overflow: hidden;
}

.caption h5 {
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.content {
    height: 150px;
}

.form-control {
    width: 300px;
    height: 30px;
}

.iniciar {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iniciar h1 {
    margin-top: 100px;
}

.iniciar button {
    margin: 2px;
}

.contenedor-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 340px;
    background-color: rgb(241, 241, 241);
    font-size: 13px;
    border-radius: 20px;
}

.newsletter h5 {
    color: rgb(163, 0, 0);
    margin-bottom: 30px;
    margin-top: 30px;
}


.card-img-top {
    width: 240px;
    height: 100px;
    object-fit: cover;
    padding: 10px;
}

.card-group {
    padding: 30px;
}

.noticias {
    height: 400px;
    padding: 10px;
}

.local {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.local h5 {
    margin-bottom: 15px;
}

.creador {
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creador h6 {
    margin-top: 5px;
    text-align: center;
}

.redes img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}